@page "/{informationboardID:int}"
@using VisitorApplication.Shared
@inject HttpClient Http

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css">
</head>


@if (informationboardList == null)
{
    <h1 class="col-10 text-center display-3 ms-0" style="color: white;">Loading...</h1>
}
else
{
    foreach (var informationboard in informationboardList)
    {
        // Displays the published information board, if any at the specific path
        if (informationboardID == informationboard.InformationboardID && informationboard.IsPublished == true)
        {

            <head>
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
            </head>

            <section class="col-12">
                @if (@informationboard.Title.Length > 15)
                {
                    <p class="titleGreen display-5 text-center fw-bold mt-2">
                        @informationboard.Title
                    </p>
                }
                else
                {
                    <p class="titleGreen display-2 text-center fw-bold mt-2">
                        @informationboard.Title
                    </p>
                }

                <p class="text-center mt-0 text-white text-wrap">En digital informationstavle</p>
            </section>

            <section class="wrapper container">
                <div id="categories" class="row justify-content-center text-center">
                    @if (categoryList == null)
                    {
                        <p class="col-10 text-center ms-0" style="color: white;">Loading..</p>
                    }
                    else
                    {
                        foreach (var category in categoryList)
                        {
                            // Displays the published categories within the selected information board if any
                            if (informationboardID == category.InformationBoardId && category.IsPublished == true)
                            {
                                <a class="btn btn-outline-light square col-5 m-1 p-1 d-flex align-items-center border-2 bg-secondary bg-opacity-50 text-white shadow-lg rounded-3" href="@($"/{informationboard.InformationboardID}/{category.CategoryId}")">
                                    <div class="mx-auto">
                                        <i class="bi bi-newspaper"></i>
                                        @if (category.Title.Length > 11)
                                        {
                                            <p class="fs-6 text-break">@category.Title</p>
                                        }
                                        else
                                        {
                                            <p class="fs-4 text-break">@category.Title</p>
                                        }
                                    </div>
                                </a>
                            }
                        }
                    }
                </div>
            </section>
        }
        if (informationboardID == informationboard.InformationboardID && informationboard.IsPublished != true)
        {
            <h1 class="col-10 text-center display-1 ms-0" style="color: white;">There is nothing at this address</h1>
        }
    }
}

@code
{
    Informationboard[] informationboardList;
    Category[] categoryList;

    protected async override Task OnInitializedAsync()
    {
        informationboardList = await Http.GetFromJsonAsync<Informationboard[]>("api/Informationboard/InformationboardList");
        categoryList = await Http.GetFromJsonAsync<Category[]>("api/Category/CategoryList");
    }

    [Parameter]
    public int informationboardID { get; set; }
    [Parameter]
    public int categoryID { get; set; }

}
