@page "/{informationboardID:int}/{categoryID:int}/{postID:int}"

@using VisitorApplication.Shared
@inject HttpClient Http

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
</head>

<section class="text-white">
    @if (postList == null)
    {
    
    }
    else
    {
        // Displays the title of the category in the top
        foreach (var category in categoryList)
        {
            if (categoryID == category.CategoryId)
            {
            <section class="text-white">
                <div class="wrapper container mt-1">
                    <a class="btn float-start" href="@($"/{InformationboardID}/{categoryID}")"><i class="bi bi-arrow-left-square" style="font-size: 7.5vw; color: white;"></i></a>
                    @if (category.Title.Length > 11)
                    {
                    <h1 class="titleGreen mx-auto display-3 fw-bold mt-2 text-break">@category.Title</h1>
                    }
                    else
                    {
                    <h1 class="titleGreen mx-auto display-1 fw-bold mt-2 text-break">@category.Title</h1>
                    }
                </div>
            </section>
            }
        }

        // Displays the selected post
    @foreach (var post in postList)
        {
            if (postID == post.PostID && post.IsPublished == true)
            {
                int currentID = post.PostID;

            <section class="shadow-lg rounded-2 bg-secondary bg-opacity-50">
                <div class="m-3 py-2">
                    <h1 class="">@post.Title</h1>
                    <p class="fst-italic">@post.Author</p>
                    <p class="respect-newline">@post.Text</p>

                    @if (post.Link.Contains("."))
                    {
                        <a class="text-white" href="@post.Link">Tryk her for at læse mere</a>
                    }
                </div>
            </section>
            }
        }
    }
</section>

@code {
    Post[] postList;
    Category[] categoryList;

    protected async override Task OnInitializedAsync()
    {
        categoryList = await Http.GetFromJsonAsync<Category[]>("api/Category/CategoryList");
        postList = await Http.GetFromJsonAsync<Post[]>("api/Post/PostList");
    }

    [Parameter]
    public int InformationboardID { get; set; }
    [Parameter]
    public int categoryID { get; set; }
    [Parameter]
    public int postID { get; set; }
}
