@page "/{informationboardID:int}/{categoryID:int}/{postID:int}"

@using VisitorApplication.Shared
@inject HttpClient Http

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css">
</head>

<section class="text-white">
    @if (postList == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        // Displays the title of the category in the top
        foreach (var category in categoryList)
        {
            if (categoryID == category.CategoryId)
            {
                <section class="border">
                    <div class="wrapper container">
                        <a class="col-1 btn float-start" href="@($"/{InformationboardID}/{categoryID}")"><i class="bi bi-arrow-left-square" style="font-size: 35px; color: white;"></i></a>
                        <h1 class="col-10 text-center display-1 ms-0">@category.Title</h1>
                        <div class="col-1"></div>
                    </div>
                </section>
            }
        }

        // Displays the selected post
        @foreach (var post in postList)
        {
            if (postID == post.PostID && post.IsPublished == true)
            {
                int currentID = post.PostID;

                <section class="m-3">
                    <h1>@post.Title</h1>
                    <p class="fst-italic">@post.Author</p>
                    <p>@post.Text</p>
                    
                </section>
            }
        }
    }
</section>

@code {
    Informationboard[] informationboardList;
    Post[] postList;
    Category[] categoryList;

    protected async override Task OnInitializedAsync()
    {
        informationboardList = await Http.GetFromJsonAsync<Informationboard[]>("api/Informationboard/InformationboardList");
        categoryList = await Http.GetFromJsonAsync<Category[]>("api/Category/CategoryList");
        postList = await Http.GetFromJsonAsync<Post[]>("api/Post/PostList");
    }

    [Parameter]
    public int InformationboardID { get; set; }
    [Parameter]
    public int categoryID { get; set; }
    [Parameter]
    public int postID { get; set; }
}
